
body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.backRef {
    background-color: rgb(193, 243, 137);
  padding: 2px 20px;
  width: 200px;
   margin: 5px;
}

.back {
  background-color: rgb(248, 233, 213);
  padding: 2px 20px;
   width: 200px;
    margin: 5px;
}
.backSong {
   background-color: rgb(195, 242, 253);
  padding: 2px 20px;
   width: 200px;
    margin: 5px;
}
.backReducer{
   background-color: rgb(248, 206, 234);
  padding: 2px 20px;
   width: 200px;
    margin: 5px;
}
button {
  margin: 5px;
}


.backStopwatch {
    background-color: rgb(129, 252, 205);
  padding: 2px 20px;
   width: 200px;
    margin: 5px;
}
